    <script async src="https://www.googletagmanager.com/gtag/js?id=106555472"></script>
    <script{{ pjax }}>
      if (CONFIG.hostname === location.hostname) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ theme.google_analytics.tracking_id }}');
      }
    </script>
