    <script async src="https://www.googletagmanager.com/gtag/js?id=106555472"></script>
    <script{{ pjax }}>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '106555472');
    </script>
